@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #cc0000;
  --bridge-in-black: #131316;
  --bridge-in-green: #2cb159;
  --bridge-in-white: #ffffff;
  --bridge-in-gray: #f9fafb;

  --bridge-in-black-05-opacity: rgba(19, 19, 22, 0.05);
  --bridge-in-black-50-opacity: rgba(19, 19, 22, 0.5);
}
